<table class="table table-striped">
    <thead>
        <tr>
            <% table_head.forEach((alert)=> { %>
                <th scope="col">
                    <%= alert %>
                </th>
                <% }) %>
        </tr>
    </thead>
    <tbody>
        <% table_row.forEach((row)=> { %>
            <tr>
                <% table_head.forEach((keyMap)=> { %>
                    <td>
                        <%= row[keyMap] %>
                    </td>
                    <% }) %>
            </tr>
            <% }) %>
        </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination" style="justify-content:end">
        <li class="page-item"><a class="page-link" href="#" onclick="">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>